body {
  background-color: black;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

/* navigation bar */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 10px;
}

.flex .items {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.flex .items img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: inline-block;
  border-radius: 10px;
  border: 2px solid rgb(243, 243, 240);
  transition: transform 0.5s ease;
  cursor: pointer;
}

.flex .items img:hover {
  transform: scale(1.1);
  border: 2px solid yellow;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  width: 500px;
}